<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="row" *ngIf="registrated">
  <div class="col-sm-2">
    <div class="dugme">
    </div>
  </div>
  <div class="col-sm-8" style="margin-top: -20px;">
    <div class="center-content">
      <div class="bordered-box">
        <h1 class="mb-4 text-center">Registracija korisnika</h1>
        <form>
          <mat-form-field class="wide-input">
            <mat-label>Ime</mat-label>
            <input matInput id="firstName1" name="firstName1" type="firstName1" [(ngModel)]="registeredUser.firstName1" placeholder="Ime">
          </mat-form-field>
          <br>
          <mat-form-field class="wide-input">
            <mat-label>Prezime</mat-label>
            <input matInput id="lastName1" name="lastName1" type="lastName1" [(ngModel)]="registeredUser.lastName1" placeholder="Prezime">
          </mat-form-field>
          <br>
          <mat-form-field class="wide-input">
            <mat-label>Email</mat-label>
            <input matInput id="email" name="email" type="email" [(ngModel)]="registeredUser.email" placeholder="Email">
          </mat-form-field>
          <br>
          <mat-form-field class="wide-input">
            <mat-label>Broj telefona</mat-label>
            <input matInput id="mobile" name="mobile" type="mobile" [(ngModel)]="registeredUser.mobile" placeholder="Broj telefona">
          </mat-form-field>
          <br>
          <mat-form-field class="wide-input">
            <mat-label>Korisničko ime</mat-label>
            <input matInput id="username" name="username" type="username" [(ngModel)]="registeredUser.username" placeholder="Korisničko ime">
          </mat-form-field>
          <br>
          <mat-form-field class="wide-input">
            <mat-label>Lozinka</mat-label>
            <input matInput id="password" name="password" type="password" [(ngModel)]="password1" placeholder="Lozinka">
          </mat-form-field>
          <br>
          <mat-form-field class="wide-input">
            <mat-label>Potvrdite lozinku</mat-label>
            <input matInput id="password2" name="password2" type="password" [(ngModel)]="password2" placeholder="Lozinka">
          </mat-form-field>
          <br>
          <label *ngIf="passwordsAreNotEqual">&nbsp; Lozinke nisu iste. Pokušajte ponovo.</label>
         
          <div class="text-center">
            <button type="submit" class="btn btn-secondary" style="width: 190px;" (click)="register()">
              Registrujte se
            </button>
          </div>
          &nbsp;
          <div class="text-center">
            <button type="submit" class="btn btn-link" style="width: 190px;color: gray;" (click)="registerCompany()">Registracija kompanije</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
<div  *ngIf="!registrated">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8" style="margin-top: -100px;">
    <div class="center-content">
      <div class="bordered-box">
        <h1 class="mb-4 text-center">Odlično!</h1>
        <h1 class="mb-4 text-center">Sada je potrebno da pristupite svom email nalogu i da proverite vaše poruke.</h1>
        <h1 class="mb-4 text-center">U poruci ste dobili link za aktivaciju naloga.</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
 
</div>
</div>
