<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="row">

  <div class="col-sm-2" >
   
  </div>
  <div class="col-sm-8">

    <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button> -->
      <mat-horizontal-stepper  class="center" [linear]="isLinear" #stepper>
        
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Popunite zahtev za reklamiranje</ng-template>
            <form [formGroup]="dateForm" (ngSubmit)="save()">
            <mat-form-field>
              <mat-label>Naslov reklame</mat-label>
              <input matInput [(ngModel)]="title" placeholder="Povoljne priključne mašine" formControlName="firstCtrl">
            </mat-form-field>
            <div>
              &nbsp;
            </div>

            <form [formGroup]="forma">
              <mat-form-field class="example-full-width">
                <mat-label>Tekst reklame</mat-label>
                <textarea 
                  matInput 
                  formControlName="textareaCtrl" 
                  placeholder="Primer. Naše priključne mašine se prodaju na prostoru cele Srbije od 2009. godine.." >
                </textarea>
              </mat-form-field>
            </form>

            <mat-form-field>
              <mat-label>Izaberite datum početka reklamiranja</mat-label>
              <input matInput  [matDatepicker]="picker"  formControlName="selectedDate" >
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div>
              &nbsp;
            </div>

             </form>
             <form [formGroup]="dateForm1">
              <mat-form-field>
                <mat-label>Izaberite datum završetka reklamiranja</mat-label>
                <input matInput  [matDatepicker]="picker1"  formControlName="selectedDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
             </form>

             <div>
              &nbsp;
            </div>

            <input id="image" type="file"  (change)="onFileChanged($event)">
            <button id="upload_button" class="btn btn-secondary"  style="width: 150px;" (click)="onUpload()">Dodaj sliku</button>

            <div>
              &nbsp;
            </div>
            <div>
              &nbsp;
            </div>
            <div>
              <button mat-button matStepperNext  (click)="calculatePrice()" >Sledeća</button>

            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Završetak i pregled cene</ng-template>
            <div class="col-md-6"   style="width: 368px;">
              <label class="labels">Cena po danu</label>
              <p>{{pricePerDay}} RSD</p>

              <label class="labels">Broj dana</label>
              <p>{{numOfDays}}</p>

              <label class="labels">Ukupna cena</label>
              <p>{{totalPrice}} RSD</p>
            </div>
            <div>
              &nbsp;
            </div>
            <button id="save_button" class="btn btn-secondary" style="width: 150px;" (click)="save()">Pošalji zahtev</button>
            <div>
              &nbsp;
            </div>
            <div>
              &nbsp;
            </div>
            <div>
              <button mat-button matStepperPrevious >Prethodna</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
  </div>
  <div class="col-sm-2">
    
  </div>
</div>

