<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="border1">
<div class="basket">
<div class="top">
</div>
<h1 style="margin-left: 180px;">Korpa za kupovinu</h1>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vaši izabrani proizvodi su: </h3>
<div class="card-wrapper">
  <mat-card id="center" class="example-card" *ngFor="let a of announcements">
    <mat-card-header>
      <mat-card-title>{{a.productDTO.name}}</mat-card-title>
      <mat-card-subtitle>Kategorija: {{a.category}}</mat-card-subtitle>
      <mat-card-subtitle>Podkategorija: {{a.subcategory}}</mat-card-subtitle>
      <mat-card-subtitle>Cena: {{a.price}} rsd</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content" style="margin-left: 50px;">
        <img mat-card-image src="{{a.productDTO.picture}}" alt="Photo of a Shiba Inu">
        <h3><!-- Your content here --></h3>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="delete(a)" style="background-color: green; color: white;"   style="position: absolute; top: 45px; right: 20px;" ><a>Obriši</a></button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="price">
Ukupna cena: {{price}}
</div>

<div class="bottom">
</div>
</div>
</div>