
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="row">

  <div class="col-sm-2" >
    <div class="sticky1">
      <h4>Reklama:</h4>
    <app-advertisement></app-advertisement>
  </div>
  </div>
  <div class="col-sm-8">
    <div class="row ">
      <div class="col-sm-0" >
        <img src="assets/images/main.jpg" width="1289" height="450" >
      </div>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><h1 style="margin-left:0px;">{{announcement.title}}</h1></mat-card-title>
        <mat-card-subtitle><h3>Kategorija :{{announcement.category}} </h3></mat-card-subtitle>
        <mat-card-subtitle><h3>Podkategorija :{{announcement.subcategory}}</h3></mat-card-subtitle>
        <mat-card-subtitle><h3>Grad :{{announcement.city}}</h3></mat-card-subtitle>
        <mat-card-subtitle><h3>Datum objavljivanja oglasa : {{day}}.{{month}}.{{year}}.</h3></mat-card-subtitle>
        <mat-card-subtitle><h3>Username : {{userDTO.username}}</h3></mat-card-subtitle>
        <mat-card-subtitle><h3>Email : {{userDTO.email}}</h3></mat-card-subtitle>
        <mat-card-subtitle><h3>Vrsta korisnika : {{user}}</h3></mat-card-subtitle>
        <div class="image-list">
          <app-images-view [mainPicture] ="announcement.productDTO.picture"  [images]="announcement.productDTO.pictures" ></app-images-view>
        </div>
        
      </mat-card-header>   
      <!-- <img mat-card-image src="{{announcement.productDTO.picture}}"> -->

    <mat-card-content style="margin-left: 0px;">
      <h3>
        {{announcement.productDTO.additional_description}}
     </h3>
    </mat-card-content>
    <mat-card-content>
      <h3>  Broj telefona: {{announcement.mobileNumber}} </h3>
    </mat-card-content>
    <mat-card-content>
      <h2>Cena: {{announcement.price}} rsd</h2>
    </mat-card-content>

    <button class="btn btn-secondary" style="width: 150px;" *ngIf="registeredUserService.isRegisteredUserLoggedInAndIsHisAnnouncement()" (click)="addIntoBasket()">Dodaj u korpu</button>
    <button class="btn btn-secondary" style="width: 150px;" *ngIf="deleteButton()" (click)="deleteAnnouncement()">Obriši oglas</button>
    <button class="btn btn-success" style="width: 150px;" *ngIf="showEnableButton" style="margin-left: 0px;width: 150px;"  (click)="allowPostingOfAnnouncement()">Aktiviraj</button>
    <button class="btn btn-danger" style="width: 150px;" *ngIf="showEnableButton" style="margin-left: 200px;width: 150px;"  (click)="deleteRequest()">Deaktiviraj</button>
    </mat-card>


  </div>
  <div class="col-sm-2">
    <div class="sticky">
      <h4>Reklama:</h4>
    <app-advertisement></app-advertisement>
  </div>
  </div>
</div>
