<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="confirm-form">
  <h1>Click on the confirm button to make your account active for further activities</h1>
  <button class="btn btn-primary" (click)="activateAccount()">Confirm</button>
</div> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8" style="margin-top: -100px;">
    <div class="center-content">
      <div class="bordered-box">
        <h1 class="mb-4 text-center">Kliknite na dugme za potvrdu da bi vaš nalog bio aktivan za dalje aktivnosti</h1>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" (click)="activateAccount()">
              Prihvati
            </button>
          </div>

      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
