<mat-toolbar class="custom-toolbar">
  <!-- <span><mat-icon>eco</mat-icon>Blood transfusion center</span> -->

  <div class = "spacer"></div>

  <div *ngIf="!loginService.isUserLoggedIn(); else activeUser">
      <a mat-button routerLink="">Početna</a>
      <a mat-button routerLink="registration">Registrujte se</a>
      <a mat-raised-button color="basic" routerLink="login">Prijavite se</a>
  </div>

  <ng-template #activeUser>
  <app-navbar-home ></app-navbar-home>
  </ng-template>


 </mat-toolbar>



