.col-sm-2 {
  top: 30px;
  margin: auto;
  width: 50%;
  padding: 10px;
  height: 1910px;
  background-color: #C1E1C1;
}

.col-sm-8 {
 top: 30px;
}

/* .col-sm-8 {
  background-color:#ECFFDC
} */

h4{
  text-align: right;
}

.sticky
{
    margin: auto;
    position:fixed;
    top:200px;
}


.sticky1
{
    margin: auto;
    margin-left: 13px;
    position:fixed;
    top:200px;
}