<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="row">

  <div class="col-sm-2" >

  </div>
  <div class="col-sm-8">
    <form >
      <img src="assets/images/man.jpg" width="300" height="350">
      <label for="firstName">First name :</label>
      <p>{{registeredUser.firstName1}}</p>
     <label for="lastName">Last name: </label>
     <p>{{registeredUser.lastName1}}</p>
      <label for="email">Email: </label>
      <p>{{registeredUser.email}}</p>
      <label for="username">Username:</label>
      <p>{{registeredUser.username}}</p>
      <label for="dateOfBirth">Phone number:</label>
      <p>{{registeredUser.mobile}}</p>
  </form>
  </div>
  <div class="col-sm-2">
  </div>
</div> -->



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8 d-flex align-items-center justify-content-center">
    <img src="assets/images/man.jpg" width="300" height="350" class="profile-img">
    <div>
      <label for="firstName">First name:</label>
      <p>{{registeredUser.firstName1}}</p>
      <label for="lastName">Last name:</label>
      <p>{{registeredUser.lastName1}}</p>
      <label for="email">Email:</label>
      <p>{{registeredUser.email}}</p>
      <label for="username">Username:</label>
      <p>{{registeredUser.username}}</p>
      <label for="dateOfBirth">Phone number:</label>
      <p>{{registeredUser.mobile}}</p>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>



