<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
<div class="center rounded bg-white mt-5 mb-5"  *ngIf="registeredUserService.getEnableProfilePage()" >
  <div class="row" >
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
          width="300px"
          src="assets/images/man.jpg"><span
          class="font-weight-bold"></span><span
          class="text-black-50"></span><span> </span>
      </div>
    </div>
    <div class="col-md-7 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profil informacije:</h4>
          <button class="btn btn-secondary" style="margin: 5px;width: 150px;" (click)="go_to_edit_profile()" *ngIf="hideButton">Izmeni profil</button>
          <button class="btn btn-secondary" style="margin: 5px;width: 150px;" (click)="go_to_change_password()" *ngIf="hideButton">Izmeni lozinku</button>
        </div>
        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Ime</label>
            <p>{{firstName}}</p>
          </div>
          <div class="col-md-6"><label class="labels">Prezime</label>
            <p>{{lastName}}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Korisničko ime</label>
            <p>{{username}}</p>
          </div>
          <div class="col-md-12"><label class="labels">Email</label>
            <p>{{email}}</p>
          </div>
          <div class="col-md-12"><label class="labels">Broj telefona</label>
            <p>{{mobile}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="center rounded bg-white mt-5 mb-5"  *ngIf="registeredUserService.getEnableEditPage()" >
  <div class="row" >
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
          width="300px"
          src="assets/images/man.jpg"><span
          class="font-weight-bold"></span><span
          class="text-black-50"></span><span> </span>
      </div>
    </div>
    <div class="col-md-7 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Izmeni informacije sa profila:</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Ime</label>
            <input style="width: 330px;" name="firstName" id="firstName" [(ngModel)]="registeredUser.firstName1">
          </div>
          <div class="col-md-6"><label class="labels">Prezime</label>
            <input style="width: 330px;" name="lastName" id="lastName" [(ngModel)]="registeredUser.lastName1">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Korisničko ime</label>
            <input style="width: 690px;" name="username" id="username" [(ngModel)]="registeredUser.username" disabled="true;">
          </div>
          <div class="col-md-12"><label class="labels">Email</label>
            <input style="width: 690px; background-color: white;" name="email" id="email" [(ngModel)]="registeredUser.email" >
          </div>
          <div class="col-md-12"><label class="labels">Broj telefona</label>
            <input style="width: 690px;" name="mobile" id="mobile" [(ngModel)]="registeredUser.mobile">
          </div>
          <button id="center" class="btn btn-secondary" style="width: 150px;" (click)="editProfile()">Sačuvaj izmene</button>
      
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-secondary" style="width: 150px;" (click)="backToProfileInfo()">Nazad na profil</button>
</div>

<div class="center rounded bg-white mt-5 mb-5"  *ngIf="registeredUserService.getEnableEditPassword()" >
  <div class="row" >
    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
          width="300px"
          src="assets/images/man.jpg"><span
          class="font-weight-bold"></span><span
          class="text-black-50"></span><span> </span>
      </div>
    </div>
    <div class="col-md-7 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Izmeni lozinku:</h4>
        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Nova lozinka</label>
            <input style="width: 690px; background-color: white;" name="password1" id="password1" type="password" [(ngModel)]="password1" >
          </div>
          <div class="col-md-12"><label class="labels">Potvrdite novu lozinku</label>
            <input style="width: 690px;" name="password2" id="password2" type="password" [(ngModel)]="password2">
            <label class="error" *ngIf="passwordsAreNotEqual">{{error}}</label>
          </div>
          <div class="abcd">
            <button id="center" class="btn btn-secondary" style="width: 150px;" (click)="changePassword()">Sačuvaj izmene</button>
          </div>
         
      
        </div>
      </div>
    </div>
  </div>
  <div class="abc">
    <button class="btn btn-secondary" style="width: 150px;" (click)="backToProfileInfo1()">Nazad na profil</button>
  </div>
</div>

</div>
<div class="col-sm-2">
</div>

