<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="row">

  <div class="col-sm-2" >
    <div class="gore" >
    </div>
  <div class="dole">
  </div>
  </div>
  <div class="col-sm-8">
    <div class="row ">
      <div class="col-sm-0" >
        <img src="assets/images/main.jpg" width="1300" height="450" >
      </div>
    </div>
    &nbsp;
    <h2 style="margin-left: 37.5%;">Zahtevi za aktivaciju profila kompanije: </h2>
    <div class="card-wrapper center">
      <mat-card  id="center" class="example-card" *ngFor="let c of companies" >

        <mat-card-header>
          <mat-card-subtitle  style="margin-top: 10px;" >Naziv :{{c.name}}</mat-card-subtitle>
          <mat-card-subtitle>Broje telefona: {{c.mobile}}</mat-card-subtitle>
          <mat-card-subtitle>Korisničko ime : {{c.username}} </mat-card-subtitle>
          <img mat-card-image  src="assets/images/man.jpg" style="margin-top: 20px;"  alt="Photo of a Shiba Inu">
        </mat-card-header>
      
 
        <mat-card-actions>
          <button mat-button><a [routerLink]="['/company-request-details',c.id]" style="color: black;">Detalji ...</a></button>
        </mat-card-actions>

    </mat-card>
    </div>

    <div class="col-md" id="size" style="margin-left: 425px">
      <button class="btn btn-secondary" style="width: 170px;" (click)="previousPage()" [disabled]="page == 0"><< Prethodna strana</button>
      <select [(ngModel)]="size" (change)="changePageSize()" style="color: black;"> 
          <option value="5">5</option>
          <option value="10">10</option>
      </select>
      <button class="btn btn-secondary" style="width: 170px;" (click)="nextPage()" [disabled]="last">Sledeća strana >></button>
      <br/>
  </div>
  
  </div>
  <div class="col-sm-2">
  </div>
</div>
