.card-wrapper {
    margin-left: 330px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(1, 1r);
    gap: 1rem;
  }


  mat-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    /* width: 50%; */
  }
  
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  
  .col-sm-2 {
    top: 30px;
    background-color: #C1E1C1;
  }
  

  .col-sm-8 {
    top: 30px;
  }
  
  .gore {
    position: absolute;
    top: 0;
  }
  
  .dole {
    position: absolute;
    bottom: 0;
  }
  
  
  
  h4{
    text-align: right;
  }
  
  .sticky
  {
      margin: auto;
      position:fixed;
      top:200px;
  }
  
  .sticky1
  {
      margin: auto;
      margin-left: 3px;
      position:fixed;
      top:200px;
  }
  
  .container  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  