<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8" style="margin-top: -100px;">
    <div class="center-content">
      <div class="bordered-box"> <!-- Added bordered-box class -->
        <h1 class="mb-4 text-center">Prijavite se</h1> <!-- Added mb-4 class for margin bottom -->
        <form>
          <mat-form-field class="wide-input">
            <mat-label>Korisničko ime</mat-label>
            <input matInput id="username" name="username" type="username" [(ngModel)]="username" placeholder="Korisničko ime">
          </mat-form-field>
          <br>
          <mat-form-field class="wide-input">
            <mat-label>Lozinka</mat-label>
            <input matInput id="password" name="password" type="password" [(ngModel)]="password" placeholder="Lozinka">
          </mat-form-field>
          <br>
          <div class="text-center">
            <button type="submit" class="btn btn-secondary" style="width: 150px;" (click)="login()">
              Prijavite se
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>
